src/main/webapp/WEB-INF/wsdl/fault.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:tns="http://nl.hu.iac/powerservice/fault" 
	elementFormDefault="qualified" 
	targetNamespace="http://nl.hu.iac/powerservice/fault">
	<element name="powerFault">
		<complexType>
			<annotation>
					<documentation>message is niet voor de gebruiker, kan ook null zijn</documentation>
				</annotation>
			<sequence>
				<element name="errorCode" nillable="false" type="short"/>

				<element maxOccurs="1" minOccurs="0" name="message" type="string"/>
			</sequence>
		</complexType>
	</element> 
</schema>
